<header class="header">

    <section class="introSection">
        <div class="name">Abhishek Kumar Sandliya</div>
        <article class="description">Associate Software Developer</article>
    </section> 

    <img src="../../assets/image/IMG-20230912-WA0003.jpg">

    <menu class="menuOption">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="education">Education</a></li>
        <li><a routerLink="competition">Competition</a></li>
        <li>Projects</li>
        <li>Learning</li>
        <li>Contact</li>
    </menu>
    
</header>
